body {
	height: 100vh;
	background: #111;
	display: grid;
	place-content: center;
	margin:0;
}

button {
	--bg-color: #333;
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 5px;
	background: var(--bg-color);
	color: #eee;
	text-transform: uppercase;
	border: 1px solid var(--bg-color);
	width: 15em;

}
button:has(.red) {
	border-color: red;
}

#stop {
	display: none;
}
.dot {
	--diameter: 20px;
	display: inline-block;
	height: var(--diameter);
	width: var(--diameter) ;
	border-radius: 50%;
	background: #fff;
	margin: 0 5px;
	position: relative;
	top: 2px;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.red {
	background: red;
	animation: blink 1s infinite;

}

.grey {
	background: grey;
}